/* style sheet for task1-3.html*/
body{
    padding:20px 20px 20px 20px;
    margin:0;
    overflow:scroll;
}
#page{
    background-color: #eee;
    outline-color: #999;
    outline-style: solid;
    outline-width: 1px;
    position: relative;
    overflow:auto;
    padding:20px 160px 20px 240px;
    min-width:300px;
}
#main,#sub,#extra{
    float:left;
    outline:inherit;
    position: relative;
    background-color: #ffffff;
}
#main{
    float:left;
    width:100%;
    height:400px;
    outline:inherit;
    padding:0;
	overflow:auto;
}
#main h3,#main p{
    padding:20px 20px 20px 20px;
}

#team{
    padding:20px 20px 20px 20px;
}
#sub{
    width:200px;
    margin-left:-100%;
    left:-220px;
}
#sub img{
    width:42%;
    float: left;
    outline-color: #999;
    outline-style: solid;
    outline-width: 1px;
    margin:0 20px 20px 0;
}
#sub span{
    font-size:14px;
    float:left;
}

#extra{
    width:120px;
    margin-left:-120px;
    right:-140px;

}
#partners{
    padding:20px 20px 20px 20px;
}
#partners img{
    outline-color: #999;
    outline-style: solid;
    outline-width: 1px;
    float: left;
    width:100%;
    margin-bottom:20px;
}
