
.calButton{

}
.cal{
    position: relative;
    height:auto;
    width:auto;
    border: 1px solid black;
}
.calCell{
    height: 20px;
    width: 20px;
}

.weekends{
    color:;
}

.avaCell{
    color:;
}
.nAvaCell{
    color: !important;
}
.selectCell{
    background
}
