body{
	margin: 0;
}
.sortTable{
	width: 50%;
	border-collapse: collapse;
	color:#000;
	border:1px solid black;
	text-align: center;
}
.sortTableHead{
	color:#fff;
	background-color: #666;
}
.sortup,.sortdown{
	font-size: 60%;
}
